// Texto | Color amarillo
.txt-yellow{
	color: $color-main;
}

// Texto | Color blanco
.txt-white{
	color: $color-light;
}

// Texto | Destacado
.txt-highlight{
	font-size: 1.25rem;
}

// Texto | Mayúsculas
.mayus{
	text-transform: uppercase;
}

// Fondo | Degradado amarillo
.gradient-yellow{
	background: rgba(254,200,22,1);
	background: -moz-linear-gradient(-45deg, rgba(254,200,22,1) 0%, rgba(255,174,0,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(254,200,22,1)), color-stop(100%, rgba(255,174,0,1)));
	background: -webkit-linear-gradient(-45deg, rgba(254,200,22,1) 0%, rgba(255,174,0,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(254,200,22,1) 0%, rgba(255,174,0,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(254,200,22,1) 0%, rgba(255,174,0,1) 100%);
	background: linear-gradient(135deg, rgba(254,200,22,1) 0%, rgba(255,174,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fec816', endColorstr='#ffae00', GradientType=1 );
}

// Fondo | Degradado morado
.gradient-purple{
	background: rgba(141,9,82,1);
	background: -moz-linear-gradient(top, rgba(141,9,82,1) 0%, rgba(236,78,170,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(141,9,82,1)), color-stop(100%, rgba(236,78,170,1)));
	background: -webkit-linear-gradient(top, rgba(141,9,82,1) 0%, rgba(236,78,170,1) 100%);
	background: -o-linear-gradient(top, rgba(141,9,82,1) 0%, rgba(236,78,170,1) 100%);
	background: -ms-linear-gradient(top, rgba(141,9,82,1) 0%, rgba(236,78,170,1) 100%);
	background: linear-gradient(to bottom, rgba(141,9,82,1) 0%, rgba(236,78,170,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8d0952', endColorstr='#ec4eaa', GradientType=0 );

	color: $color-light;
}