// Versión
$version: 1.1;
$ver: '?v=#{$version}';

// Rutas
$img: '../../images';

// Clases de páginas
$pages: 'home', 'family-fun-days', 'scenic-family-fun', 'hecho-por-ninos', 'descubrelo';

// Breakpoints
$break-desktop: 1200px;
$break-tablet: 1050px;
$break-phablet: 768px;
$break-phone: 480px;
$break-miniphone: 320px;

// Breakpoints | Específicos
$break-menu-mobile: 'desktop';

// Color | Marca
$color-activos: #00d6c9;

// Fuente | Marca
$font-regular: Arial, Helvetica, sans-serif;
$font-italic: Arial, Helvetica, sans-serif;
$font-bold: Arial, Helvetica, sans-serif;
$font-bold-italic: Arial, Helvetica, sans-serif;
$font-light: Arial, Helvetica, sans-serif;
$font-light-italic: Arial, Helvetica, sans-serif;

// Tamaños
$gap: 1rem;
$gap-slider: 40px;
$gap-slider-s: $gap-slider * 0.5;
$gap-slider-xs: $gap-slider * 0.25;
$gap-slider-xxs: $gap-slider * 0.125;
$grid-wrapped: 400px;
$size-burguer: 7rem;
$size-burguer-mobile: 5.5rem;
$font-icons: 1em;

// Color | Principal
$color-main: $color-activos;
$color-main-darker: darken($color-main, 20%);
$color-main-dark: darken($color-main, 10%);
$color-main-light: lighten($color-main, 10%);
$color-main-lighter: lighten($color-main, 20%);

// Color | Blanco
$color-light: #fff;

// Color | Negro
$color-dark: #000;
$color-dark-light: lighten($color-dark, 15%);

// Colores | Grises
$color-grey: $flat-gray-2;
$color-grey-darker: darken($color-grey, 20%);
$color-grey-dark: darken($color-grey, 10%);
$color-grey-light: lighten($color-grey, 10%);
$color-grey-lighter: lighten($color-grey, 20%);
$color-grey-lightest: lighten($color-grey, 22%);

// Transición
$transition-style: 0.3s ease-in-out;
$transition-all: all $transition-style;
$transition-opacity: opacity $transition-style;
$transition-color: color $transition-style, background-color $transition-style, border-color $transition-style;
$transition-link: $transition-color;
$transition: $transition-all;
