<main>
  <div class="m-portada container">
    <h1>
      {{title}}
    </h1>
    <div class="filters">
      <strong>Filtros: </strong>
      <select name="divisa" id="divisa" #d (change)="onChange(d.value)">
        <option value="">Selecciona divisa</option>
        <option value="EUR">EUR</option>
        <option value="USD">USD</option>
        <option value="JPY">JPY</option>
      </select>

      <select name="familia" id="familia" #f (change)="onChange(f.value)">
        <option value="">Selecciona Familia de riesgo</option>
        <option value="Balanced">Balanced</option>
        <option value="Equity">Equity</option>
      </select>
    </div>
    <div class="grid-4-2 activos">
      <div *ngFor="let data of getData">
        <div class="activo" *ngIf="(valor1 == '' && valor2 == '') || (data.currency == valor1) || (data.risk_family == valor2) || (data.currency == valor1 && data.risk_family == valor2)">
          <h2 class="name-active">{{data.name}}</h2>
          <p>
            <strong>Divisa: </strong>
            {{data.currency}}
          </p>
          <p>
            <strong>Familia de Riesgo: </strong>
            {{data.risk_family}}
          </p>
          <button (click)="clickFicha(data.id)" class="btn arrow">Ver ficha</button>
        </div>
      </div>
    </div>
  </div>
</main>
<div id="modal" [class.modal-open]="openClassBool">
  <div class="sk-cube-content" [class.spinner-close]="closeSpinnerClassBool">
    <div class="sk-cube-grid">
      <div class="sk-cube sk-cube1"></div>
      <div class="sk-cube sk-cube2"></div>
      <div class="sk-cube sk-cube3"></div>
      <div class="sk-cube sk-cube4"></div>
      <div class="sk-cube sk-cube5"></div>
      <div class="sk-cube sk-cube6"></div>
      <div class="sk-cube sk-cube7"></div>
      <div class="sk-cube sk-cube8"></div>
      <div class="sk-cube sk-cube9"></div>
    </div>
  </div>
  <button class="close" (click)="removeClass('modal')"></button>

  <div class="container" *ngIf="getDataActivo != undefined">
    <h1>{{getDataActivo.name}}</h1>
    <div class="grid-4-2">
      <div class="divisa">
        <p><strong>Divisa:</strong> {{getDataActivo.currency.name}}</p>
      </div>
      <div class="familia">
        <p><strong>Familia de Riesgo:</strong> {{getDataActivo.risk_family.name}} <span *ngIf="getDataActivo.risk_family.sub_family">/ {{getDataActivo.risk_family.sub_family.name}}</span></p>
      </div>
      <div class="emisor">
        <p><strong>Emisor:</strong> {{getDataActivo.issuer.name}}</p>
      </div>
      <div class="isin">
        <p><strong>ISIN:</strong> {{getDataActivo.isin}}</p>
      </div>
      <div class="region">
        <p><strong>Región:</strong> {{getDataActivo.region.name}} <span *ngIf="getDataActivo.region.region_level2">/ {{getDataActivo.region.region_level2.name}}</span> <span *ngIf="getDataActivo.region.region_level2.region_level3">/ {{getDataActivo.region.region_level2.region_level3.name}}</span></p>
      </div>
    </div>
    <base-chart-demo></base-chart-demo>
    <div *ngFor="let price of getDataActivo.prices">

    </div>
    <comment-widget></comment-widget>
  </div>
</div>
